.date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 60px;
  height: 30px;
  margin-right: 20px;
  padding: 3px 10px;
  border-radius: 5px;
}

.message {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8C8C8C;
  padding-top: 3px;
}
.message .id {
  font-weight: 500;
}

.block {
  width: 100%;
  padding: 15px 20px 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}