@import '../../AppStyle/variables.scss';

#alert {
  border-radius: 10px;
  width: 170px;
  height: 40px;
  padding: 6px 25px;
  position: absolute;
  top: -50px;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}