@import "../../../../AppStyle/variables.scss";

.upload {
  width: 145px;
  color: $darkPink;
  background-image: url("src/Components/Graphic/Icons/upload-16.png");
  background-repeat: no-repeat;
  background-position: 30px 12px;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 30px 12px 56px;
  cursor: pointer;
  &:hover {
    background: $darkPink;
    color: #ffffff;
    background-image: url("src/Components/Graphic/Icons/white-icon/upload-white-16.png");
    background-repeat: no-repeat;
    background-position: 30px 12px;
  }
}

