.upload {
  width: 143px;
  height: 40px;
  border-radius: 10px;
  color: #ff868e;
  background-image: url("src/Components/Graphic/Icons/upload-16.png");
  background-repeat: no-repeat;
  background-position: 30px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  padding: 12px 30px 12px 56px;
  margin-left: auto;
  cursor: pointer;
  &:hover {
    background: #ff868e;
    color: #ffffff;
    background-image: url("src/Components/Graphic/Icons/white-icon/upload-white-16.png");
    background-repeat: no-repeat;
    background-position: 30px 12px;
  }
}

.upload_photo {
  margin: auto;
  padding: 12px 29px;
  width: 172px;
  height: 40px;
  background: #ff868e;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background: #fbe0dc;
    color: #ff868e;
  }
}
