.upload {
  width: 143px;
  color: #FF868E;
  background-image: url("src/Components/Graphic/Icons/upload-16.png");
  background-repeat: no-repeat;
  background-position: 30px 12px;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 30px 12px 56px;
  margin-left: auto;
  cursor: pointer;
}
.upload:hover {
  background: #FF868E;
  color: #ffffff;
  background-image: url("src/Components/Graphic/Icons/white-icon/upload-white-16.png");
  background-repeat: no-repeat;
  background-position: 30px 12px;
}