.upload {
  width: 143px;
  color: #ff868e;
  background-image: url("src/Components/Graphic/Icons/upload-16.png");
  background-repeat: no-repeat;
  background-position: 30px 12px;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 30px 12px 56px;
  margin-left: auto;
  cursor: pointer;
  &:hover {
    background: #ff868e;
    color: #ffffff;
    background-image: url("src/Components/Graphic/Icons/white-icon/upload-white-16.png");
    background-repeat: no-repeat;
    background-position: 30px 12px;
  }
}

.upload_photo {
  margin: auto;
  padding: 12px 25px;
  width: 170px;
  background: #fbe0dc;
  font-size: 12px;
  line-height: 16px;
  color: #ff868e;
  cursor: pointer;
  &:hover {
    background: #ff868e;
    color: #ffffff;
  }
}
