.page_button {
  height: 40px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ff868e;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.page_button:hover {
  background: #ff868e;
  color: #ffffff;
  background-repeat: no-repeat;
  cursor: pointer;
}

.page_button_light {
  background-color: #fbe0dc;
}

.page_button_dark {
  background-color: rgba(255, 134, 142, 0.2);
}

.prev {
  background-image: url("src/Components/Graphic/Icons/left-pink.png");
  background-position: 25px 12px;
  padding: 12px 25px 12px 60px;
}
.prev:hover {
  background-image: url("src/Components/Graphic/Icons/white-icon/left-white.png");
  background-position: 25px 12px;
  padding: 12px 25px 12px 60px;
}

.prev_mob {
  background-image: url("src/Components/Graphic/Icons/left-pink.png");
  background-position: 15px 12px;
  padding: 12px 15px 12px 45px;
}
.prev_mob:hover {
  background-image: url("src/Components/Graphic/Icons/white-icon/left-white.png");
  background-position: 15px 12px;
  padding: 12px 15px 12px 45px;
}

.next {
  background-image: url("src/Components/Graphic/Icons/right-pink.png");
  background-position: 81px 12px;
  padding: 12px 60px 12px 25px;
}
.next:hover {
  background-image: url("src/Components/Graphic/Icons/white-icon/right-white.png");
  background-position: 81px 12px;
  padding: 12px 60px 12px 25px;
}

.next_mob {
  background-image: url("src/Components/Graphic/Icons/right-pink.png");
  background-position: 69px 12px;
  padding: 12px 40px 12px 20px;
}
.next_mob:hover {
  background-image: url("src/Components/Graphic/Icons/white-icon/right-white.png");
  background-position: 69px 12px;
  padding: 12px 40px 12px 20px;
}

.disabled {
  height: 40px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 2px;
  color: #8c8c8c;
  background-repeat: no-repeat;
}

.disabled_light {
  background-color: #ededed;
}

.disabled_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.prev_disabled {
  background-image: url("src/Components/Graphic/Icons/left.png");
  background-position: 25px 12px;
  padding: 12px 25px 12px 60px;
}

.prev_disabled_mob {
  background-image: url("src/Components/Graphic/Icons/left.png");
  background-position: 15px 12px;
  padding: 12px 15px 12px 45px;
}

.next_disabled {
  background-image: url("src/Components/Graphic/Icons/right.png");
  background-position: 81px 12px;
  padding: 12px 60px 12px 25px;
}

.next_disabled_mob {
  background-image: url("src/Components/Graphic/Icons/right.png");
  background-position: 69px 12px;
  padding: 12px 40px 12px 20px;
}