.breed_name {
  width: max-content;
  height: 62px;
  padding: 5px 40px;
  margin: -75px auto 10px;
  border-radius: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
}
.breed_name_dark {
  background: #282828;
}

#breeds_info_bar {
  position: relative;
  width: 100%;
  margin-top: 50px;
  border-radius: 20px;
}

.breeds_info_border_light{
  border: 2px solid #fbe0dc;
}
.breeds_info_border_dark {
  border: 2px solid rgba(255, 134, 142, 0.2);
}

.breed_description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #8c8c8c;
  margin-bottom: 20px;
  text-align: justify;
}

.char {
  gap: 40px;
}
.char :nth-child(1){
  max-width: 270px;
}

.characteristic {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #1d1d1d;
}

.description {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #8C8C8C;
}