.name_title {
  height: 34px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ff868e;
  display: none;
}

.name_title_dark {
  background: #282828;
}

.grid_item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}
.grid_item:hover .background_grid_item {
  display: block;
}

.for_breeds {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.for_breeds:hover .name_title {
  display: block;
}

.cursor {
  cursor: pointer;
}

.grid_form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid_form:hover .fav_button {
  display: block;
  cursor: pointer;
}
.grid_form:hover .like_button {
  display: block;
  cursor: pointer;
}
.grid_form:hover .dislike_button {
  display: block;
  cursor: pointer;
}

.background_grid_item {
  width: 100%;
  height: 100%;
  background: rgba(255, 134, 142, 0.5);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  display: none;
}

.grid_item_gallery {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .name_title {
    width: 180px;
  }
}
@media (min-width: 712px) and (max-width: 767px) {
  .name_title {
    width: 90%;
    max-width: 180px;
  }
}
@media (min-width: 712px) {
  .grid-sm {
    display: none;
  }
  .grid-lg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .grid-lg :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-lg :nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .grid-lg :nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .grid-lg :nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .grid-lg :nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
  }
  .grid-lg :nth-child(15) {
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    grid-row: 8/10;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .grid-lg :nth-child(18) {
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10/12;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .grid-lg :nth-child(19) {
    -ms-grid-row: 11;
    -ms-grid-row-span: 2;
    grid-row: 11/13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media (min-width: 540px) and (max-width: 711px) {
  .grid-lg {
    display: none;
  }
  .grid-sm {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .grid-sm > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-sm > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .grid-sm > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-sm > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .grid-sm > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid-sm > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .grid-sm :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-sm :nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .grid-sm :nth-child(11) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
  }
  .grid-sm :nth-child(17) {
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10/12;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .name_title {
    width: 170px;
  }
}
@media (max-width: 539px) {
  .grid-lg {
    display: none;
  }
  .grid-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .grid_item {
    width: 100%;
    height: 55vw;
  }
  .name_title {
    width: 180px;
  }
}