.search {
  border-radius: 20px;
  border: 2px solid transparent;
  height: 60px;
  padding: 15px 10px 15px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.search:focus {
  border: 2px solid #ff868e;
  outline: none;
}
.search:focus:hover {
  border: 2px solid #ff868e;
}

.search_light {
  background: #ffffff;
  color: #1d1d1d;
}
.search_light:hover {
  border: 2px solid #fbe0dc;
}

.search_dark {
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}
.search_dark:hover {
  border: 2px solid rgba(255, 134, 142, 0.3);
}

.search::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
}

.search::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
}

.search:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
}

.search::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
}

.search::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
}