@media (min-width: 1280px) {
  .search {
    width: 470px;
  }
  .offcanvas_wrapper {
    display: none;
  }
  .aside_mobile {
    display: none;
  }
  #box {
    margin: 30px;
    margin-left: auto;
  }
  main {
    width: 740px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .aside_wrapper {
    display: none;
  }
  main {
    margin: auto;
    width: 740px;
  }
  .initial {
    display: none;
  }
  .search {
    width: 400px;
  }
  #offcanvas {
    width: 768px;
  }
  #box {
    margin: 30px auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .aside_wrapper {
    display: none;
  }
  .initial {
    display: none;
  }
  main {
    margin: auto;
    padding: 20px;
    width: 100vw;
  }
  #offcanvas {
    width: 100vw;
    padding: 30px;
  }
}
@media (min-width: 576px) {
  .card_button {
    width: 138px;
  }
  aside {
    width: 446px;
  }
  main {
    padding: 30px;
  }
  .offcan {
    width: 446px;
  }
  .block {
    background-position: right 20px top 20px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .search {
    width: 100%;
  }
  aside {
    max-width: 400px;
  }
  .card_button {
    width: 100%;
  }
  .nav_card {
    gap: 20px;
    margin-top: 20px;
  }
  .offcan {
    max-width: 400px;
    width: 100%;
  }
  .block {
    background-position: right 20px top 20px;
  }
}