main {
  position: relative;
  min-height: 100vh;
}

.initial {
  width: 680px;
}

.App {
  font-style: normal;
  width: 100%;
}

.background {
  width: 680px;
  height: 840px;
  border-radius: 20px;
}

.light {
  background-color: #ededed;
}

.dark {
  background-color: #1D1D1D;
}

.light_background {
  background-color: #ffffff;
}

.light_pink_background {
  background-color: #FBE0DC;
}

.dark_pink_background {
  background-color: rgba(255, 134, 142, 0.2);
}

.dark_background {
  background-color: rgba(255, 255, 255, 0.05);
}

.dark_background01 {
  background-color: rgba(255, 255, 255, 0.1);
}

.light_border:hover {
  outline: 2px solid #FBE0DC;
}

.dark_border option {
  outline: 2px dashed green;
  background: rgb(60, 60, 60);
  padding: 10px;
  border: none;
}
.dark_border:hover {
  outline: 2px solid rgba(255, 134, 142, 0.3);
}

.pink_hover:hover {
  background-color: #FBE0DC;
}

.pink_hover_dark:hover {
  background-color: rgba(255, 134, 142, 0.2);
}

.black {
  color: #1D1D1D;
}

.gray {
  color: #8C8C8C;
}

.pink {
  color: #FF868E;
  text-decoration: none;
}

.white {
  color: #fff;
}

.aside_wrapper {
  width: 100%;
}

#back_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-image: url("src/Components/Graphic/Icons/back-20.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
#back_button:hover {
  background-color: #FF868E;
  background-image: url("src/Components/Graphic/Icons/white-icon/back-white-20.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#search_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-image: url("src/Components/Graphic/Icons/search-20.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
#search_button:hover {
  background-color: #FF868E;
  background-image: url("src/Components/Graphic/Icons/white-icon/search-white-20.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#update_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-image: url("src/Components/Graphic/Icons/update-20.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#update_button:hover {
  background-color: #FF868E;
  background-image: url("src/Components/Graphic/Icons/white-icon/update-white-20.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.fav_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-image: url("src/Components/Graphic/Icons/fav-color-20.png");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
.fav_button:hover {
  background-color: #FF868E;
  background-image: url("src/Components/Graphic/Icons/white-icon/fav-full-white-20.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.like_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-image: url("src/Components/Graphic/Icons/like-30.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  display: none;
}
.like_button:hover {
  background-color: #FF868E;
  background-image: url("src/Components/Graphic/Icons/white-icon/like-white-30.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.dislike_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-image: url("src/Components/Graphic/Icons/dislike-30.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  display: none;
}
.dislike_button:hover {
  background-color: #FF868E;
  background-image: url("src/Components/Graphic/Icons/white-icon/dislike-white-30.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#aside_button {
  background-image: url("src/Components/Graphic/Icons/stroke.png");
  background-repeat: no-repeat;
  background-position: center;
}

#close_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-image: url("src/Components/Graphic/Icons/close-20.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
#close_button:hover {
  background-color: #FF868E;
  background-image: url("src/Components/Graphic/Icons/white-icon/close-white-20.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#upload_photo {
  margin: auto;
}

.rect_btn {
  padding: 12px 25px;
  width: 170px;
  font-size: 12px;
  line-height: 16px;
  color: #FF868E;
  cursor: pointer;
}
.rect_btn:hover {
  background: #FF868E;
  color: #ffffff;
}

.title {
  height: 40px;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}

.title_button {
  width: 150px;
  padding: 5px 30px;
  background: #FF868E;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.id_button {
  padding: 5px 30px;
  background: #FBE0DC;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FF868E;
}

.page {
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #FF868E;
  padding: 12px 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page_light {
  background: #FBE0DC;
}

.page_dark {
  background: rgba(255, 134, 142, 0.2);
}