@import "mixins";
@import "variables";


#back_button {
  @include pinkButton(
    $url: "../Components/Graphic/Icons/back-20.png",
    $urlHover: "../Components/Graphic/Icons/white-icon/back-white-20.png"
  );
  margin-right: 10px;
}

#up_button {
  @include pinkButton(
    $url: "../Components/Graphic/Icons/white-icon/up-white-20.png",
    $urlHover: "../Components/Graphic/Icons/white-icon/up-white-20.png"
  );
  position: fixed;
  background-color: $darkPink;
  transition: opacity 0.3s;
  z-index: 30;
}

#search_button {
  @include pinkButton(
    $url: "../Components/Graphic/Icons/search-20.png",
    $urlHover: "../Components/Graphic/Icons/white-icon/search-white-20.png"
  );
  position: absolute;
  top: 10px;
  right: 10px;
}

#update_button {
  @include pinkButton(
    $url: "../Components/Graphic/Icons/update-20.png",
    $urlHover: "../Components/Graphic/Icons/white-icon/update-white-20.png"
  );
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.fav_button {
  @include pinkButton(
    $url: "../Components/Graphic/Icons/fav-color-20.png",
    $urlHover: "../Components/Graphic/Icons/white-icon/fav-full-white-20.png"
  );
  display: none;
}

.like_button {
  @include pinkButton(
    $url: "../Components/Graphic/Icons/like-30.png",
    $urlHover: "../Components/Graphic/Icons/white-icon/like-white-30.png"
  );
  background-size: 20px 20px;
  display: none;
}

.dislike_button {
  @include pinkButton(
    $url: "../Components/Graphic/Icons/dislike-30.png",
    $urlHover: "../Components/Graphic/Icons/white-icon/dislike-white-30.png"
  );
  background-size: 20px 20px;
  display: none;
}

#aside_button {
  background-image: url("../Components/Graphic/Icons/stroke.png");
  background-repeat: no-repeat;
  background-position: center;
}

#close_button {
  @include pinkButton(
    $url: "../Components/Graphic/Icons/close-20.png",
    $urlHover: "../Components/Graphic/Icons/white-icon/close-white-20.png"
  );
  position: absolute;
  top: 20px;
  right: 20px;
}

#upload {
  width: 145px;
  color: $darkPink;
  background-image: url("../Components/Graphic/Icons/upload-16.png");
  background-repeat: no-repeat;
  background-position: 30px 12px;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 30px 12px 56px;
  cursor: pointer;
  &:hover {
    background: $darkPink;
    color: #ffffff;
    background-image: url("../Components/Graphic/Icons/white-icon/upload-white-16.png");
    background-repeat: no-repeat;
    background-position: 30px 12px;
  }
}

#upload_photo{
  margin: auto;
}

.title_button {
  height: 40px;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}

.disabled {
  color: $textGrey;
}
.disabled_light {
  background-color: $bgLight;
}
.disabled_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.small_button {
  height: 40px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  user-select: none;
}

.rect_btn {
  padding: 12px 25px;
  width: 170px;
  font-size: 12px;
  line-height: 16px;
  color: $darkPink;
  cursor: pointer;
  &:hover {
    background: $darkPink;
    color: #ffffff;
  }
}
.rect_btn_disabled {
  padding: 12px 25px;
  width: 170px;
}

/* UpButton.css */
.scroll-to-top {
  display: none;
}
.scroll-to-top.visible {
  display: block;
}
