.prev_next_button {
  width: 122px;
  height: 40px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FF868E;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.prev_next_button:hover {
  background: #FF868E;
  color: #ffffff;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev_next_button_light {
  background-color: #FBE0DC;
}

.prev_next_button_dark {
  background-color: rgba(255, 134, 142, 0.2);
}

.prev {
  background-image: url("src/Components/Graphic/Icons/left-pink.png");
  background-position: 28px 12px;
  padding: 12px 26px 12px 60px;
}
.prev:hover {
  background-image: url("src/Components/Graphic/Icons/white-icon/left-white.png");
  background-position: 28px 12px;
  padding: 12px 26px 12px 60px;
}

.next {
  background-image: url("src/Components/Graphic/Icons/right-pink.png");
  background-position: 81px 12px;
  padding: 12px 55px 12px 30px;
}
.next:hover {
  background-image: url("src/Components/Graphic/Icons/white-icon/right-white.png");
  background-position: 81px 12px;
  padding: 12px 55px 12px 30px;
}

.disabled {
  width: 122px;
  height: 40px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 2px;
  color: #8C8C8C;
  background-repeat: no-repeat;
}

.disabled_light {
  background-color: #ededed;
}

.disabled_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.prev_disabled {
  background-image: url("src/Components/Graphic/Icons/left.png");
  background-position: 28px 12px;
  padding: 12px 26px 12px 60px;
}

.next_disabled {
  background-image: url("src/Components/Graphic/Icons/right.png");
  background-position: 81px 12px;
  padding: 12px 55px 12px 30px;
}